body {
  background-color: #81d4fa;
  text-align: left;
  margin-right: 3px;
  margin-left: 3px;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border: 3px solid green;
  width: 500px;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 300px;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 15px;
  width: 700px;
  margin-left: 30px;
}
b{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
li {
  list-style-position: inside;
  margin-right: 3px;
  margin-left: 3px;
  padding-inline-start: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 100;
  width: 700px;
  height: 20px;
}
#pushpull {
  position: absolute;
  top: 1px;
  right: 180px;
  width: 150px;
  height: 250px;
  text-align: right;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 300px;
}
#lawsGraph {
  position: absolute;
  top: 800px;
  right: 100px;
  width: 400px;
  height: 200px;
  }
#quote {
  position: absolute;
  top: 1900px;
  right: 100px;
  width: 400px;
  height: 200px;
  border: 3px solid coral;
}
#falling {
  position: absolute;
  top: 1400px;
  right: 100px;
  width: 400px;
  height: 200px;
}
